<%= simple_form_for(@producto) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :codigo %>
    <%= f.input :descripcion %>
    <%= f.input :precio %>
    <%= f.input :observaciones %>
    <%= f.input :activo %>
    <%= f.input :imagen, as: :file %>
    <%= f.input :pdf, as: :file %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
