<p id="notice"><%= notice %></p>

<h1 align="center">Productos</h1>
<center>
<%= link_to 'Nuevo producto', new_producto_path, class: 'btn btn-primary fa fa-plus' %>
</center>

<br>
<div class="table-responsive">
<table class="table table-hover table-bordered">
  <thead>
    <tr>
    
      <th><strong><center>Imagen</strong></center></th>
      <th><strong><center>Codigo</strong></center></th>
      <th><strong><center>Descripcion</strong></center></th>
      <th><strong><center>Precio</strong></center></th>
      <th><strong><center>Observaciones</strong></center></th>
      <th><strong><center>Activo</strong></center></th>
      <th><strong><center>Catalogo</strong></center></th>
      <th><strong><center>Opciones </strong></center></th>

    </tr>
  </thead>

  <tbody>
    <% @productos.each do |producto| %>
      <tr>
        <td><img src="<%= producto.imagen %>" width="50" height="50"></td>
        <td><%= producto.codigo %></td>
        <td><%= producto.descripcion %></td>
        <td><%= producto.precio %></td>
        <td><%= producto.observaciones %></td>
        <% if producto.activo == true %>
          <td> ACTIVO</td>
        <% else %>
          <td>INACTIVO</td>
        <% end %>
        <td> <%= link_to 'Descargar', muestra_pdf_producto_path(producto) , class: 'btn btn-primary fa fa-download' %> </td>
        <td><%= link_to 'Detalles', producto, class: 'btn btn-default fa fa-eye' %>
        <%= link_to 'Editar', edit_producto_path(producto) , class: 'btn btn-warning fa fa-edit' %>
        <%= link_to 'Eliminar', producto, method: :delete, data: { confirm: 'Are you sure?' } , class: 'btn btn-danger fa fa-close' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<center>
<%= will_paginate @collection, renderer: BootstrapPagination::Rails, :previous_label => 'Anterior', :next_label => 'Siguiente'  %>
</center>
</div>

<br>


