<p id="notice"><%= notice %></p>

<p>
  <strong>Codigo:</strong>
  <%= @producto.codigo %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @producto.descripcion %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @producto.precio %>
</p>

<p>
  <strong>Observaciones:</strong>
  <%= @producto.observaciones %>
</p>

<p>
  <strong>Activo:</strong>
  <%= @producto.activo %>
</p>
<p>
  <strong>Imagen:</strong>
  <img src="<%= @producto.imagen %>" width="50" height="50">
</p>

<%= link_to 'Edit', edit_producto_path(@producto) %> |
<%= link_to 'Back', productos_path %>
